body {
  margin: 0 auto;
}

h1 {
  font-family: "Coustard", serif;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 400;
  color: #005691;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-right: 0px;
}

.forecast {
  font-family: "Averia Libre", cursive;
  font-size: 24px;
  color: grey;
  text-transform: capitalize;
}

.shade {
  font-size: 16px;
  bottom: 50px;
}

.hourly {
  color: #aaa6a4;
}

.section {
  background: #f8da5b;
}
.daily {
  color: #827055;
}

.bright {
  color: #7971ea;
}

.temp-menu {
  margin-bottom: 50px;
}

.weather-details {
  margin: 20px auto;
  max-width: 810px;
  border: 1px solid grey;
  padding: 25px;
}

.city {
  font-size: 40px;
  font-weight: 700;

  position: relative;
  bottom: 700px;
  left: 620px;
}
.current-time {
  color: #757a79;
  font-size: 20px;
}

.location {
  position: relative;
  bottom: 700px;
  left: 580px;
}

.sunny {
  margin-top: 0px;
  margin-bottom: 50px;
}

.search-box {
  margin-top: 20px;
}

.icons {
  font-size: 30px;
}

.app-styling {
  line-height: 1;
}

.container {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.current {
  margin-left: -40px;
}

.cap {
  text-transform: capitalize;
}

.conversion {
  font-size: 16px;
  position: relative;
  bottom: 20px;
}

.red {
  text-decoration: none;
}

.config {
  font-size: 48px;
}
